<h1 class="text-center">Welcome to The Pirate Shop!!</h1>

<div class="row">
  <div class="col-xs-8">
    <ul class="list-group">
      <h3 class="text-center"> Here is a list of our promotional offers: </h3>
      <li class="list-group-item">Buy each of the 3 DVDs and get a 10% discount on their total cost!</li>
      <li class="list-group-item">Buy each of the 3 Blu-Rays and get a 15% discount on their total cost!</li>
      <li class="list-group-item">Buy 10 or more items and get an additional 5% discount on existing total!!</li>
    </ul>
  </div>
</div>


<app-stock></app-stock>
<app-cart></app-cart>
